
#customBodyLayout {

    padding: 1.75em;
    background-color: lightskyblue;
    position: relative;
    min-height: 100vh;
    padding-bottom: 1.5em;
}

#bodyNavSeperatorDiv{
    margin-top: 125px;
}



#customFooter {
    position:relative;
    bottom: 0vh;
    width: 100%
}
